* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

.navbar {
    color:red;
    margin: 10px;
}


:root {
    --color-secondary:#ffffff;
    --color-primary:#23272a;
    --color-header-bg:#255ee9;
    --color-section-bg:#f6f6f6;
    --color-contrast:#aebbe7;
}


.body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--color-secondary)
}

header {
    background-color: var(--color-header-bg);
    color: white;
}
 
h1{
    font-size: 50px;
}

#font-size {
    font-size: 20px;
}

.buttons {
    padding: 20px;
}

.scarica-mac-white {
    background-color:white;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}

.wave {
    background-image:url(img/wave.svg);
    filter: opacity(0.04);
    width: 100%;
    height: 100px; 
}
.wave-reverse {
    rotate: 180deg;
}

.browser {
    background-color:#23272A;
    color:white;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}

#hero {
    background-image: url("./img/jumbo.png");
    min-height: 680px;
    background-size: cover;
    
}


.section-bg {
    background-color: var(--color-section-bg);

}

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
.footer.top {
    border-bottom: 1px solid var(--color-contrast);
}


.left {
    width: 60%;
}
.left img {
    width: 100%;
}


.right {
    width: 40%;
    padding-top: 3%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.small-container {
    padding-top: 300px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.d-flex {
    display: flex;
}

.row-reverse {
    flex-direction:row-reverse
}
.space-between {
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
    align-content: center;
}

h2 {
    font-size: 32px;
    
}

.text-align-center {
    text-align: center;
}
h3 {
    font-size: 27px;
}

.button {
    background-color: var(--color-header-bg);
    border-radius: 20px;
    padding: 10px;
    color: white;
    
    
}


.margin-bottom {
    margin-bottom: 100px;
}

.bandiera {
    width: 20px;
    margin-left: 10px;
}

h4 {
    color: var(--color-header-bg);
    padding: 10px;
}
.social {
    padding: 10px;
}
 
#margin {
    margin: 10px;
}

.color {
    color: lightgray;
    margin-bottom: 50px;
    
}

.row {
    width: 100%;
    border-bottom: 1px solid var(--color-header-bg);
}

.flex-end {
    display: flex;
    justify-content:space-between;  
}

#margin-bottom {
    margin-bottom: 40px;
}

#button-accedi {
    background-color: white;
    color:black;
    border-radius: 20px;
    padding: 10px;
}


 .padding-top {
    padding-top: 150px;
 }

 
a {
    text-decoration: none; 
}


a:hover {
    box-shadow: 5px 5px 5px 5px #7edffd; 
    
}

#scarica-per-mac {
    background-color:#7289DA;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    
} 